<!-- footer -->
    <footer class="footer">

             <div class="row">
   
        <div class="links col-lg-6 col-12 mx-auto">
          <a href="https://twitter.com/VivekKu67692993" style="text-decoration: none;" >     <i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/vivek-kumar-gupta-813031202/" style="text-decoration: none;" >    <i class="fab fa-linkedin"></i></a> 
          <a href="https://github.com/vivek-ku-gu" style="text-decoration: none;" >     <i class="fab fa-github"></i></a> 
        </div>
        <div class="foot col-lg-6 col-12 mx-auto" >
          <a href="/contact" style="text-decoration: none;" >created by vivek kumar gupta</a> 
          </div>
    </div>
 
    </footer>