.navbar-brand{
    margin-right: 5px;
    margin-left: 5px;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  flex-direction: column;
  overflow: hidden; /* Hide scrollbars */

}
footer{
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 4rem;
  font-size: 1.1rem;
  background-color: rgb(61, 61, 61);
  padding: 0%;
  position: absolute;
  bottom: 0%;

}
.search{
  width: 100%;
  margin-top: 100px;
}
#cityname{
  width: 50%;
}
#search_btn:hover{
 background-color:  rgb(2, 160, 223);
 color: white;
 border-color: grey;
 border-width: 3px;
 border-style: solid;
}
.slider{
padding: 50px 50px 50px 50px;;
}
.header{
  text-align: center;
}
.content{
text-align: center;
color: white;
}
.header{
  margin-top: 70px;
}
/* body{
  background-color: rgb(205, 243, 243);
} */

#button{
  margin-top: 40px;
}
.nav-item{
  margin-right: 80px;
}
 .nav-item a:hover{
 color:rgb(2, 160, 223) ;
}
.fa-snowflake{
  transition: all linear;
  animation: rot 2s linear infinite ;
}
@keyframes rot{
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
}
}
#cityname{
  border-radius: 15px;
  border-color: rgb(2, 160, 223);
  border-style:solid;
  border-width: 3px;

  padding: 10px;
  line-height: normal;
  height: 50px;
}
#search_btn{
  border-radius: 15px;
  padding: 10px;
  height: 50px;
}
.search{
  background-color: gery;
}
.data_hide{
  visibility: hidden;
  border-radius: 15px;
  background-color: rgb(2, 160, 223);
  height: 64.5%;
  margin-top: 30px;
}
.citylayer{
  font-size: 60px;
  font-style: oblique;
}
.templayer{
  font-size: 30px;
  font-style: oblique;
}
#weathericon{
  font-size: 50px;
  margin-left: 20px;
}
.toplayer{
  display: flex;
flex-direction: row;
background-color: rgb(2, 160, 223);
margin: 0%;
width: 100%;
border-radius: 15px;
margin-top: 15px;
}
#date{
  width: 50%;
position: relative;
left: 30px;

  margin-top: 5%;
}
#day{
  width: 50%;
  position: relative;
  right:  45px;
  
  margin-top: 5%;
}
.maincontent{
  background-color:rgb(61, 61, 61) ;
  height: 350px;
  width: 500px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
  border-radius: 15px;
}
.headerMain{
  background-color: rgb(61, 61, 61);

}
.nav-item a{
  color: aliceblue;
}
 a{
  color: aliceblue;
}
/* p:hover{
  color: rgb(2, 160, 223);
} */
a:hover{
  color: rgb(2, 160, 223);
}
.links a{
  margin-right: 30px;
}
@media(max-width:786px){
  h1{
    font-size: large;
  }
  .city{
   font-size: medium;
   border: 30px;
   padding: 40px;
  }
  #button{
    width: 100px;
    height: 37px;
  }
  .carousel-item{
    height: 250px;
    width: 400px;
  }
  .maincontent{
    background-color:rgb(61, 61, 61) ;
    height: 335px;
    width: 400px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 35px;
    border-radius: 15px;
  }
  .search{
    width: 100%;
    margin-top: 40px;
  }
  #cityname{
    width: 76%;
  }
}

.navbar-toggler-icon{
  background-color: white;

  outline: auto;
  color: #000;
}
/* .carousel-item{
  height: 400px;
  width: 750px;
} */